<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Laptime Form</title>
    <link th:rel="stylesheet" th:href="@{/laptimes.css}">
</head>
<body>
  <div th:class="container">
    <h1>Lägg till ny varvtid!</h1>
      <form th:method="post" th:action="@{/laptimes}">
          <input th:id="input-laptime" th:name="lapTime" th:type="text" th:placeholder="Varvtid...">
          <br><br>
          <input th:id="save-button" th:type="submit" th:value="Save">
      </form>
  </div>
</body>
</html>